body{
    direction: rtl;
}
.div1{
    
    width: 0;
    height: 40px;
    background-color:red;
  
    /* background:linear-gradient(blue,red); */
    animation-name: eman;
    animation-duration: 6s;
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: linear;  سرعة متساوية */
    animation-timing-function: ease;/* يبدئ بطيئ بعدين يسرع بعدين يرجع بطيئ*/
    /* animation-timing-function: ease-in; يبدئ ببطئ بعدين يسرع للنهاية */
    /* animation-timing-function: ease-out;  يسرع بعدين يبطئ في الاخير*/
    /* animation-timing-function: ease-in-out ; نفس ease */
    animation-play-state: running;
    /* animation-direction: reverse; */
    /* animation-direction: alternate; الافتراضي */
    /* animation-direction: alternate-reverse; تقسيم الخطوات في الحركة عند 50% حركة وعند 70 حركة وعند 100 جركة */
     animation-fill-mode: forwards; /*يوقف عمد اخر قيمة وصل لها مايرجعش لاصله */
   /* animation-fill-mode: backwards; الحالة 0% تشتغل من البداية ماينتظر للديلي */
   /* animation-fill-mode: both; */

    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
  /* animation: name duration timing-function  dalay itriation-count dircation fill-mode play-state ;   */
    
}
.div1:hover{
    animation-play-state: paused;
}
@keyframes eman{
    0%{width: 0px;}
    100%{width: 100%; }
    
    
}
.d2{ 
    width: 0px;
    height: 40px;
    background-color: green;

    animation-fill-mode: forwards;
    animation-name: eman;
    animation-duration: 6s;
    animation-delay: 6s;
   
    animation-direction: reverse;
 
}
@keyframes eman{
    0%{width: 0px; }
    100%{ width: 100%;}
 
}
.d3{ 
    width: 0px;
    height: 40px;
    background-color:black;
    background-size: cover;
    animation-fill-mode: forwards;
    animation-name: eman;
    animation-duration: 6s;
    animation-delay: 12s;
   
    
}
@keyframes eman{
    0%{width: 0px;}
    100%{ width: 100%;}
}
.d4 {
   
    width: 0px;
    height: 40px;
    background-color:beige;
    background-size: cover;
    animation-fill-mode: forwards;
    animation-name: eman;
    animation-duration: 6s;
    animation-delay: 18s;
  
    animation-direction: reverse;
    
}

@keyframes eman{
    0%{width: 0px;}
    100%{ width: 100%;}
}


.d5{ 
    width: 0px;
    height: 40px;
    background-color:red;
    background-size: cover;
    animation-fill-mode: forwards;
    animation-name: eman;
    animation-duration: 6s;
    animation-delay: 24s;
  
    
}
@keyframes eman{
    0%{width: 0px;}
    100%{ width: 100%;}
}
.d6{ 
    width: 0px;
    height: 40px;
    background-color:rgb(169, 165, 165);
    background-size: cover;
    animation-fill-mode: forwards;
    animation-name: eman;
    animation-duration: 6s;
    animation-delay: 30s;
    animation-direction: reverse;
   
    
}
@keyframes eman{
    0%{width: 0px;}
    100%{ width: 100%;}
}
.d7{ 
    width: 0px;
    height: 40px;
    background-color:rgb(8, 8, 8);
    background-size: cover;
    animation-fill-mode: forwards;
    animation-name: eman;
    animation-duration: 6s;
    animation-delay: 36s;
  
    
}
@keyframes eman{
    0%{width: 0px;}
    100%{ width: 100%;}
}
.d8{ 
    width: 0px;
    height: 40px;
    background-color:rgb(97, 95, 95);
    background-size: cover;
    animation-fill-mode: forwards;
    animation-name: eman;
    animation-duration: 6s;
    animation-delay: 42s;
  
    animation-direction: reverse;
    
}
@keyframes eman{
    0%{width: 0px;}
    100%{ width: 100%;}
}
